/* regole generali */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.centered {
    width: 70%;
    margin: auto;
}

/* Intestazione */

header {
    color: #ffffff;
    padding-top: 30px;

}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-basis: 600px;
    justify-content: space-between;


}





/* DEBUG */

header {
    min-height: 300px;
    background-color: #255ee9;
}

footer {
    min-height: 300px;
    background-color: #23272a;
}

main section {
    min-height: 300px;
}

main section:nth-of-type(even) {
    background-color: #f6f6f6;
}