/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 50px;
}

button {
    text-decoration: none;
    border: none;
}

.small-button {
    padding: 7px 12px;
    border-radius: 15px;
}

.big-button {
    padding: 7px 14px;
    border-radius: 21px;
    margin: 0px 10px;
}

.centered {
    padding: 30px 15%;
}

/* Intestazione */

header {
    height: 500px;
    color: #ffffff;
    padding: 30px;

}

    /* barra di navigazione */

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 16px;
    }

    header nav ul {
        display: flex;
        flex-basis: 600px;
        justify-content: space-between;
    }

    /* Jumbotron */

    .jumbotron {
        margin: 90px;
        text-align: center;
    }

    .jumbotron h1 {
        margin-bottom: 40px;
    }

    .jumbotron p {
        margin-bottom: 30px;
    }

    .jumbotron button.black-back {
        color: #ffffff;
        background-color: #23272a;
    }

/* corpo principale */

section:nth-of-type(even) {
    background-color: #f6f6f6;
}

section {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

section .col.img {
    width: 600px;
    margin: 20px;
}

section .col.text {
    width: 400px;
    margin: 20px;
    padding: 20px;
}



/* Footer */

footer {
    height: 400px;
    background-color: #23272a;
}



/* DEBUG */

header {
    background-color: #255ee9;
}

/* section {
    background-color: rgba(253, 253, 169, 0.89);
} */

section .img {
    background-color: #66d4cd;
}

section .text {
    background-color: rgb(247, 158, 126);
    border: solid 2px black;

}

